label.inline-flex.items-center
  = @f.check_box @field, { **@options, class: "h-4 w-4 text-green-500 rounded border-gray-300 shadow-sm focus:border-green-300 focus:ring focus:ring-offset-0 focus:ring-green-200 focus:ring-opacity-50" }, @checked_value, @unchecked_value
