label.block
  - if @label.present?
    span.text-gray-700= @label
  = @f.select @field, @list, @options, { **@html_options, class: "block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" }
